:root
{
    --color-principal: #2d8ceb;
    --color-secundary: #1a5a9b;
    --background-principal: rgb(250, 250, 250);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:var(--background-principal);
}
header {
    background-color: var(--color-principal);
    padding: 15px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.623);
    justify-content: space-between;
}
nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(90vh - 80px);
}
input{
    outline: none;
}
.login-container {
    color: var(--color-principal);
    padding: 70px;
    background-color: white;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-register {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login-register input,
.login-register button,
.login-register select {
    margin: 10px 0;
    padding: 15px;
    background-color: white;
    border: 2px solid var(--color-principal);
    border-radius: 20px;
    box-sizing: border-box;
}
.login-register input:hover{
   padding: 17px; 
   transition: padding 0.3s ease;
   border: 2px solid var(--color-secundary);
   border-radius: 20px;
}

.login-register button:hover {
    padding: 17px;
    color: white;
    background-color: var(--color-principal);
    border: 2px solid var(--color-secundary);
    border-radius: 20px;
    transition: padding 0.3s ease, background-color 0.5s ease, color 0.3s ease;
}



