
body {
  margin: 0;
  padding: 0;
}

.slider {
  /*margin-top: 50px; */
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BOTONES */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }