body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}


.sidebar {
  width: 260px;
  background: #eaeaea;
  padding: 20px;
}

.sidebar img {
  width: 100%;
  margin: 15px 0;
}

/* BOTONES */
.btn {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.green { background: #2ecc71; color: white; }
.red { background: #e74c3c; color: white; }
.gray { background: #bbb; }

/* CONTENIDO */
.content {
  flex: 1;
  padding: 30px;
}

.session {
  text-align: right;
  color: #555;
}

.activo {
  color: green;
}

/* BARRAS */
.progress {
  background: #ddd;
  height: 15px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: green;
}
